<section id="dashboard" class="p-4">
  <div class="table-responsive">
    <table
      class="table table-dark table-sm align-middle text-center table-striped"
    >
      <thead class="table-dark">
        <tr>
          <th scope="col" class="p-2">S.No</th>
          <th scope="col" class="p-2">Name</th>
          <th scope="col" class="p-2">Email</th>
          <th class="p-2">Role</th>
          <th scope="col" class="p-2">Action</th>
        </tr>
      </thead>
      <tbody>
        <% var count = 0; %> <% data.forEach((user, i) => { %> <% if(user.role
        === "admin") { %>
        <p></p>
        <% } else { %> <% count = count + 1; %>
        <tr>
          <td scope="row"><%= count %></td>
          <td><%= user.username%></td>
          <td><%= user.email%></td>
          <td><%= user.role%></td>
          <td>
            <button
              onclick="location.href = '/admin/dashboard/manage-users/delete-user/<%=user._id%>';"
              class="btn-outline-custom m-2"
            >
              Delete
            </button>
          </td>
        </tr>
        <% } %> <% }) %>
      </tbody>
    </table>
  </div>
</section>
