
<section id="dashboard" class="p-4">
    <div class="table-responsive">
        <table class="table table-dark table-sm align-middle text-center table-striped">
            <thead class="table-dark">
              <tr>
                <th scope="col" class="p-2">Id</th>
                <th scope="col" class="p-2">Name</th>
                <th scope="col" class="p-2">Type</th>
                <th scope="col" class="p-2">Number</th>
                <th scope="col" class="p-2">Rented</th>
                <th class="p-2">Image</th>
                <th scope="col" class="p-2">Action</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((vehicle, i) => { %>
              <tr>
                <td scope="row"><%= vehicle.renterId %></td>
                <td><%= vehicle.vehicleName%></td>
                <td>
                    <% if(vehicle.type === 2) { %>
                        Two
                    <% } else { %>
                        Four
                    <% } %>
                    Wheeler
                  </td>
                <td><%= vehicle.vehicleNumber%></td>
                <td>
                  <% if(vehicle.bookingStatus.isBooked === true) { %>
                    <span class="green">
                      Rented
                    </span>
                  <% } else { %>
                    <span class="red">
                      Not Rented
                    </span>
                  <% } %>
                </td>
                <td><img width="80px" src='/images/<%=vehicle.image%>'></img></td>
                <td>
                  <button onclick="location.href = '/admin/dashboard/manage-vehicles/delete-vehicle/<%=vehicle._id%>';" class="btn-outline-custom m-2">
                      Delete
                  </button>
                </td>
              </tr>
              <% }) %>
            </tbody>
        </table>
    </div>

</section>