<section
  id="place-order"
  class="flex-wrap d-flex justify-content-center align-items-center"
>
  <div class="box py-4 px-3 mx-4 mt-5 mb-2">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h3>Vehicle Info.</h3>
      <table>
        <tr>
          <td colspan="2">
            <span class="bold">Vehicle Owner : </span>
            <%= data.renterName %>
          </td>
        </tr>
        <tr>
          <td>
            <span class="bold">Vehicle : </span>
            <%= data.vehicleName %>
          </td>
          <td>
            <span class="bold">Model : </span>
            <%= data.model%>
          </td>
        </tr>
        <tr>
          <td>
            <span class="bold">Type : </span>
            <% if(data.type === 2) { %> Two Wheeler <% } else { %> Four Wheeler
            <% } %>
          </td>
          <td>
            <span class="bold">Gear : </span>
            <%= data.gear %>
          </td>
        </tr>
        <tr>
          <td>
            <span class="bold">Fuel : </span>
            <%= data.fuel%>
          </td>
          <td>
            <span class="bold">Travelled : </span>
            <%= data.travelled%> kms
          </td>
        </tr>
        <tr>
          <td>
            <span class="bold">Mileage : </span>
            <%= data.mileage%> km/l
          </td>
          <td>
            <span class="bold">Vehicle Number : </span>
            <%= data.vehicleNumber %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <form
    action="/rider-profile/place-order"
    method="post"
    class="d-flex align-items-center flex-column py-4 px-4 m-3"
  >
    <% if (messages.error) { %>
    <span class="red text-sm"><%= messages.error %></span>
    <% } %>

    <input type="hidden" name="vehicle" value="<%= JSON.stringify(data) %> " />

    From :
    <input type="date" class="form-control w-75 my-1" name="start" required />
    To :
    <input type="date" class="form-control w-75 my-1" name="end" required />
    <div>
      <label for="location" class="mt-3">Enter your delivery address : </label>
      <textarea
        class="form-control my-2"
        name="location"
        id="location"
        rows="3"
        required
      ></textarea>
    </div>
    <div>
      <label for="mobile" class="mt-2">Enter Mobile Number : </label>
      <input
        type="number"
        class="form-control mt-2 mb-3"
        id="mobile"
        name="mobile"
        maxlength="10"
        required
      />
    </div>
    <div>
      <button type="submit" class="btn-custom m-2">Place Order</button>
      <button
        class="btn-custom m-2"
        onclick="location.href = '/rider-profile';"
      >
        Cancel
      </button>
    </div>
  </form>
</section>
